.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(190, 190, 190);
  min-height: 100vh;

  .top {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: darkblue;
    }
  }

  hr {
    height: 0px;
    border: 0.5px solid rgb(190, 190, 190);
    margin: 0px;
    padding: 0px;
  }

  .center {
    padding-left: 15px;

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      .title {
        font-size: 15px;
        font-weight: bold;
        color: rgb(141, 141, 141);
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px 5px 5px 10px;

        &:hover {
          background-color: rgb(214, 222, 255);
          cursor: pointer;
        }

        .icon {
          font-size: 20px;
          color: darkblue;
        }

        .non-deco {
          text-decoration: none;
        }

        span {
          font-size: 20px;
          color: rgb(44, 44, 44);
          margin-left: 10px;
          font-weight: 600;
        }
      }
    }
  }

  .bottom {
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        display: flex;
        align-items: center;
        padding: 5px 5px 5px 10px;

        .colorOption {
          display: flex;
          width: 30px;
          height: 30px;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          border: 1px solid rgb(166, 128, 255);
          margin: 10px;

          cursor: pointer;

          &:nth-child(1) {
            display: flex;
          }

          &:nth-child(2) {
            display: flex;
            background-color: black;

            .night {
              font-size: 20px;
              color: rgb(255, 255, 255);
            }
          }
        }

        .image {
          width: 200px;
        }
      }
    }
  }
}
