.sidebar {
  width: 260px;
  position: fixed;
  overflow-y: auto;

  img {
    max-width: 80%;
  }

  a {
    text-decoration: none;
  }
  .main-item {
    font-size: 1rem;
    font-weight: 500;
    color: #3e4e7c;
    margin: 0.2rem 0.5rem 0.2rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.3rem;

    &:hover {
      background-color: #b9b0e2;
    }

    .icon {
      margin-right: 0.5rem;
    }
  }

  ul {
    li {
      list-style-type: none;
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
      margin: 0 1rem 0 1rem;

      &:hover {
        border-radius: 0.3rem;
        background-color: #cfc8ee;
      }

      .child-item {
        font-size: 0.9rem;
        color: #4c5e91;
      }
    }
  }
}
