.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 187, 255);

    a{
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        padding: 10px;
    }
}