.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

    // a{
    //     font-size: 17px;
    //     font-weight: 600;
    //     margin: 10px;
    //     padding: 10px;
    // }

    hr{
        height: 0px;
        border: 0.5px solid rgb(143, 143, 143);
        margin: 0px;
        padding: 0px;
    }

}