.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 253, 253);
  padding-left: 50px;
}

.hr-line {
  hr {
    margin: 0 0 1rem 0;
    padding: 0;
    height: 0;
    border: 0.1rem solid rgb(95, 95, 95);
  }
}