.container-fluid {
  background-color: #f8f9fa;
  padding: 20px;
}

.section-title {
  font-size: 45px;
  margin-bottom: 1rem;
  color: #343a40;
}

.content-first {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.img-introduce {
  max-width: 100%;
  height: auto;
}

.step-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.step-title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #495057;
}

.step-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: #6c757d;
}

.text-center {
  text-align: center;
}
