.home {
  display: flex;
}

.homeContainer {
  flex: 1;
  padding: 20px;
}

.mt-3 {
  margin-top: 20px;
}

.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(190, 190, 190);
  min-height: 100vh;
}

.homeContainer {
  flex: 4;
  padding: 20px;
}

.mainContent {
  padding-top: 20px;
}

.mt-3 {
  margin-top: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px; /* Adjust as needed */
}

.title {
  flex: 1;
  text-align: center;

  font-size: 3rem; /* Điều chỉnh kích thước font theo ý muốn */
  font-weight: bold;
}

.year {
  text-align: left;
  font-size: 1rem; /* Adjust font size as needed */
}
