/* Reset some basic styles for full height layout */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px; /* Adjust as needed */
}

.footer {
  background: #efebe8;
  padding: 20px 0;
  text-align: center;
  height: 200px; /* Fixed height */
  /* Ensure footer stays at the bottom */
}
