.login-btn {
  background-color: #b23842;
  color: white;
  border: none;
  padding: 10px 20px;
  letter-spacing: 1px;

}

.register {
  color: #b23842;
  text-decoration: none;
}

input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #e4e4e4;

  &::placeholder {
    color: #aaaaaa;
  }
}

.login-form {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.login-img {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}