.footer{
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
    border-top: 1px solid #e9ecef;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
    a{
        color: #6c757d;
        text-decoration: none;
        &:hover{
            color: #007bff;
        }
    }
}